@ -0,0 +1,33 @@

.classpath
.project
.settings/
.bin/

bin/
bin
build/
target/

*.log
*.tmp
*.bak
*.swp
*.swo
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

.gradle/
!gradle-wrapper.jar
build/
**/build/
*.lock

.DS_Store
Thumbs.db

.idea/
*.iml
out/
bin/EmployeeDetails$1.class
/bin
/bin
